body {
    margin: 0;
  }

/* Cabecera */

  #cabecerapadre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 6px solid #04AA6D; ;
  }
  #cabecerahijo{
    background-color: #04AA6D;;
    text-align: center;
    color: #f1f1f1;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    width: 400px;
    z-index: 100;
    border-radius: 20px 20px 0 0 ;
  }

  #cabecerahijo a{
    list-style-type: none;
    color: white;
    text-decoration: none;
  }

/* Fin Cabecera */

/* Menú */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/* Fin Menú*/ 

/* Contenido */

div#contenido2{
  margin-top: 20px;
}

div#contenido2 img{
  border-radius: 50%;
}

/* Fin Contenido */